html {
  background: #000;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: transparent;
  color: #fff;
  overflow: hidden;
  font-family: monospace;
}

.background-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header {
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.header-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
  gap: 2rem;
}

.header-splitter {
  width: 1px;
  height: 1.5rem;
  background-color: #ffffff55;
}

.header-name {
  font-size: 1rem;
  font-weight: 400;
}

.header-role {
  font-size: 0.8rem;
  font-weight: 300;
}

.header-name,
.header-role {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-name::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff7a00;
  box-shadow: inset 0 0 0 2px #ff7a00;
  transform: scale(0.8);
  animation: pulse 2s infinite;
  transition: opacity 0.3s ease-in-out;
  filter: drop-shadow(0 0 0.3rem #ffaf33);
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

.header-role::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ff7a00;
  opacity: 0.6;
}

button {
  background-color: transparent;
  border: none;
  border-radius: 0.2rem;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 300;
  transition:
    border-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

button:hover {
  color: #ff7a00;
  border-color: #ff7a00;
}

.header-contact-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: right;
	gap: 1rem;
}
